.aboutWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clubLogo img {
  width: 300px;
}

h1 {
  text-align: center;
}

.addr {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}