.emailFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.trainerPhone {
  display: flex;
  gap: 10px;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.trainerPhone img {
  width: 40px;
}

.trainerPhone a {
  color: black;
  font-weight: bold;
}

.anotherEmail {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.emailFormWrapper input, .emailFormWrapper textarea {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid gray;
}